body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

.contenido{
    position: relative;
    background: #AFAFAF;
}

.campodescripcion{
    max-width: 470px;
    max-height: 200px;
    min-width: 200px;
    min-height: 50px;
}
.pie{
    display: block;
    color: #333333;
    font-size: 12px;
    text-height: initial;
    text-decoration: none;
    margin-left: 3px;
}
.oblig{
    color: #D20005;
    font-weight: bold
}
.campo{
    width: 90%;
}
.barraconfirmacion{
    margin-top: 30px;
}
.especial{
    background-color: #FF6600 !important;
    padding: 10px !important;
}
.top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 10px;
    height: auto;
    margin: 0px 0px 0px 0px;
    width: 100%;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 30px;
    box-shadow: 4px 4px 2px #888;
}

.ui-confirm-dialog{
    position: absolute;
    top: 40% !important;
    left: 35% !important;
    max-width: 500px;
}


.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

.top a:link, .top a:visited {
    color: white !important;
    font-weight : bold;
    text-decoration: none;
}

.top a:hover {
    color: #c2dfef;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

fieldset legend {
    font-size:14px !important;
    padding:10px;
}
.bold{
    font-weight: bold;
}

.container{
    width: 90%;
}
