/nbproject/private/
/Silex Segunda Entrega-war/nbproject/private/
/Silex Segunda Entrega-ejb/nbproject/private/
/Silex Segunda Entrega-war/build/
/Silex Segunda Entrega-ejb/build/
/Silex Segunda Entrega-ejb/dist/
/build/

/dist/
/Silex Segunda Entrega-war/dist/